[submodule "snesrecomp"]
	path = snesrecomp
	url = https://github.com/mstan/snesrecomp.git
	branch = rebased/stack-auditor-onto-main

[submodule "recomp-ui"]
	path = recomp-ui
	url = https://github.com/mstan/recomp-ui.git
	branch = feat/discord-login
